@import '~resources/scss/vars';
@import '~resources/scss/mixins';

.main-layout {
    width: 100%;
    min-height: 100vh;
    background: $light;
    @include mobile {
        background: #000;
    }
}
